<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Language_Setting.Language.ko-KR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Language_Setting.Language.en-US" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Language_Setting.Properties.Language" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Language_Setting.Language.ko-KR>
            <setting name="Test" serializeAs="String">
                <value>테스트입니다.</value>
            </setting>
        </Language_Setting.Language.ko-KR>
        <Language_Setting.Language.en-US>
            <setting name="Test" serializeAs="String">
                <value>It's test</value>
            </setting>
        </Language_Setting.Language.en-US>
        <Language_Setting.Properties.Language>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
        </Language_Setting.Properties.Language>
    </userSettings>
</configuration>